body
{
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size: 16px;
}

.card
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsl(225, 100%, 94%);
    margin: 10px;
    margin-top: 12%;
    min-width: 320px;
    max-width: 320px;
    /* border-top-right-radius:10px; */
    /* border-top-left-radius:10px; */
}

.hero_img {
    width: 320px;
    /* border-radius: 10px; */
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}

.order {
    color: #00000;
    font-weight:900;
    text-align: center;
}

.text
{
    text-align: center;
    color: gray;
}

.pay_card {
    background-color:hsl(225, 100%, 98%);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}

.music_img {
    width: 45px;
    height: 45px;
    padding: 15px;
}

.amount_1 {
    color: black;
    font-weight: 900;
}

a {
    padding-right: 20px;
    padding-top: 28px;
}

.payment
{
    color: #ffffff;
    font-weight:900;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    border: 0;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 0px 10px hsl(245, 75%, 52%);
}

.cancel
{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: 900;
}